{#
/**
 * @file
 * Default theme implementation to display extra siteinfo.
 *
 * Available variables:
 * - desc: description to be shown on the page.
 *
 * @ingroup themeable
 */
#}

<div class="content">
  <div>{{ desc }}</div>
  <div class="item-list">
    <h3>Content Type & Content</h3>
    <ul>
      <li>Total Number of Content Types : {{ number_of_types }} (<a href="/admin/structure/types" target="_blank">click here for details</a>)</li>
      <li>Total Number of Nodes : {{ number_of_nodes }} (<a href="/admin/content" target="_blank">click here for details</a>)</li>
      <li>Number of Published nodes : {{ number_of_published_nodes }} (<a href="/admin/content?status=1" target="_blank">click here for details</a>)</li>
      <li>Number of Unpublished nodes : {{ number_of_unpublished_nodes }} (<a href="/admin/content?status=2" target="_blank">click here for details</a>)</li>
      <table class="responsive-enabled">
        <thead>
          <tr>
            <td>Content Type</td>
            <td>Number of Nodes</td>
            <td>Number of Published Nodes</td>
            <td>Number of Unpublished Nodes</td>
            <td>More</td>
          </tr>
        </thead>
        <tbody>
          {% for type,nodes in number_of_nodes_by_types %}
            <tr>
              <td>{{ type }}</td>
              <td>{{ nodes.total }}</td>
              <td>{{ nodes.published }}</td>
              <td>{{ nodes.unpublished }}</td>
              <td><a href="/admin/content?type={{ type }}" target="_blank">click here for details</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
  </div>
  <div class="item-list">
    <h3>Roles & Users</h3>
    <ul>
      <li>Total Number of Roles : {{ number_of_roles }} (<a href="/admin/people/roles" target="_blank">click here for details</a>)</li>
      <li>Total Number of Users : {{ number_of_users }} (<a href="/admin/people" target="_blank">click here for details</a>)</li>
      <li>Number of Active Users : {{ number_of_active_users }} (<a href="/admin/people?status=1" target="_blank">click here for details</a>)</li>
      <li>Number of Blocked Users : {{ number_of_blocked_users }} (<a href="/admin/people?status=0" target="_blank">click here for details</a>)</li>
      <table class="responsive-enabled">
        <thead>
          <tr>
            <td>Role</td>
            <td>Number of Users</td>
            <td>Number of Active Users</td>
            <td>Number of Blocked Users</td>
            <td>More</td>
          </tr>
        </thead>
        <tbody>
          {% for role,users in number_of_users_by_role %}
            <tr>
              <td>{{ role }}</td>
              <td>{{ users.total }}</td>
              <td>{{ users.active }}</td>
              <td>{{ users.blocked }}</td>
              <td><a href="/admin/people?role={{ role }}" target="_blank">click here for details</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
  </div>
</div>
